
<div class="container">
	<div class="margin10">
	    <div>
	        <label > Color : </label>
	        <span>
	       	 	Primary	<input [(ngModel)] = "color" type="radio" name="color" value="primary"> 
	    	</span>
	    	<span>
	       	 	Accent	<input [(ngModel)] = "color" type="radio" name="color" value="accent">
	    	</span>
	    	<span>
	       	 	Warn	<input [(ngModel)] = "color" type="radio" name="color" value="warn">
	    	</span>
		</div>
		<div>
	        <label > Mode : </label>
	        <span>
	       	 	Determinate	<input [(ngModel)] = "mode" type="radio" name="mode" value="determinate"> 
	    	</span>
	    	<span>
	       	 	Indeterminate	<input [(ngModel)] = "mode" type="radio" name="mode" value="indeterminate">
	    	</span>
	    	<span>
	       	 	Buffer	<input [(ngModel)] = "mode" type="radio" name="mode" value="buffer">
	    	</span>
	    	<span>
	       	 	Query	<input [(ngModel)] = "mode" type="radio" name="mode" value="query">
	    	</span>
		</div>
    </div>


    <div class="marginTopBottom20">
    	Using Angular Material:
		<mat-progress-spinner [mode]="mode" [value]="value" [color]= "color"> </mat-progress-spinner>	
	</div>

		
</div>

